.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    gap: 24px;
    width: 800px;
    height: 1565px;

    background: #01383a;
}

.link {
    text-decoration: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:transparent;
    border-radius: 16px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
}
.Shop_now {
    width: 102px;
    height: 46px;

    background-color: #86e543;
    padding: 16px 20px;

    font-size: 14px;
    line-height: 1;
    color: black;
    &:hover {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}

.Start_shopping {
    width: 306px;
    height: 70px;

    background-color: #86e543;

    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;

    color: #01383a;
    &:hover {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}

.View_all {
    padding: 16px 48px;
    width: 195px;
    height: 65px;
    background-color: #ffffff;

    font-size: 28px;
    line-height: 1.17;
    color: #01383a;

    &:hover {
        box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
    }
}

.Buy {
    padding: 16px 20px;
    width: 306px;
    height: 70px;
    background: #86e543;
    
    font-size: 32px;
    line-height: 1.1875;
    text-transform: uppercase;

    color: #01383a;
    &:hover {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}

.ADD {
    padding: 16px 20px;
    width: 306px;
    height: 70px;
    border: 1px solid #86e543;

    font-size: 32px;
    line-height: 1.1875;
    text-transform: uppercase;

    color: #86e543;
    &:hover {
        filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
    }
}

.SEND {
    padding: 16px 20px;

    width: 306px;
    height: 70px;
    border: 1px solid #ffffff;

    font-size: 32px;
    line-height: 1.1875;
    text-transform: uppercase;
    color: #ffffff;

    &:hover {
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}

.filter {
    width: 168px;
    height: 51px;
    padding: 16px 48px;
    border: 1px solid #86e543;
    filter: drop-shadow(0px 4px 4px rgba(134, 229, 67, 0.2));

    font-size: 16px;
    line-height: 1.1875;

    color: #86e543;

    &:hover {
        filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
    }
    &:active {
        background: #86e543;
        color: #01383a;
        box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1), 0px 4px 20px rgba(134, 229, 67, 0.4);
    }
}

.menu_button {
    padding: 8px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-radius: 0;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    

    &:hover{
        border-bottom: 1px solid #86e543;
    }

}
.menu_link {
    position: relative;
    display: inline-block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #ffffff;

    &:hover,
    &:focus {
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            border-radius: 2px;
            position: absolute;
            background-color: #86e543;
            left: 0;
            top: calc(100% + 8px);
        }
    }
}

.Cool {
    padding: 16px;
    gap: 8px;
    width: 171px;
    height: 80px;
    background-color: #86e543;

    font-size: 32px;
    line-height: 1.1875;
    text-transform: uppercase;
    color: #01383a;

    &:active {
        box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1), 0px 4px 20px rgba(134, 229, 67, 0.4);
    } 
}

.bad {
    padding: 16px;
    gap: 8px;
    width: 171px;
    height: 80px;
    border: 1px solid #86e543;

    font-size: 32px;
    line-height: 1.1875;
    text-transform: uppercase;
    color: #86e543;
    &:active {
         filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
    }
}
